<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.cgv.modules.member.Member"></resultMap>
    
    <sql id="selectCommon">
    	FROM infrMember a
		Where 1=1
		<if test = "shDelNy != null and !shDelNy.equals('')">AND ifMmDelNy = #{shDelNy}</if>
			<choose>
				<when test = "shOption eq 1">AND a.ifMmSeq = #{shValue}</when>
				<when test = "shOption eq 2">AND a.ifMmName LIKE CONCAT ('%', #{shValue}, '%')</when>
				<when test = "shOption eq 3">AND a.ifMmId LIKE CONCAT ('%', #{shValue}, '%')</when>
				<when test = "shOption eq 4">AND a.ifMmGender LIKE CONCAT ('%', #{shValue}, '%')</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="shOptionDate == 1">AND a.ifMmDob BETWEEN #{shStartDate} AND #{shEndDate}</when>
				<otherwise></otherwise>
			</choose>
    </sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.*
		<include refid="selectCommon" />
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />	
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO infrMember (
			ifMmName
			,ifMmGender
			,ifMmDob
			,ifMmId
			,ifMmPassWord
			,ifMmTel
			,ifMmPhone
			,ifMmEmail
			,ifMmEmailAddress
			,ifMmMarketing
			,ifMmSingupDate
			,ifMmAddress
			,ifMmAddress_homenumber
			,ifMmAddress_detail
			,ifMmNickname
			,ifMmDelNy
			,ifMmMangerNy
		)VALUES(
			#{ifMmName}
			,#{ifMmGender}
			,#{ifMmDob}
			,#{ifMmId}
			,#{ifMmPassWord}
			,#{ifMmTel}
			,#{ifMmPhone}
			,#{ifMmEmail}
			,#{ifMmEmailAddress}
			,#{ifMmMarketing}
			,#{ifMmSingupDate}
			,#{ifMmAddress}
			,#{ifMmAddress_homenumber}
			,#{ifMmAddress_detail}
			,#{ifMmNickname}
			,0
			,#{ifMmMangerNy}
		)
		<selectKey resultType="String" keyProperty="ifMmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="signup">
		INSERT INTO infrMember (
			ifMmName
			,ifMmDob
			,ifMmId
			,ifMmPassWord
			,ifMmEmail
			,ifMmEmailAddress
			,ifMmNickname
			,ifMmDelNy
			,ifMmMangerNy
		)VALUES(
			#{ifMmName}
			,#{ifMmDob}
			,#{ifMmId}
			,#{ifMmPassWord}
			,#{ifMmEmail}
			,#{ifMmEmailAddress}
			,#{ifMmNickname}
			,0
			,0
		)
		<selectKey resultType="String" keyProperty="ifMmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrMember a
		WHERE 1=1
			AND ifMmSeq = #{ifMmSeq}
	</select>
	
	<update id="update">
	UPDATE infrMember
	SET
		ifMmName = #{ifMmName}
		,ifMmGender = #{ifMmGender}
		,ifMmDob = #{ifMmDob}
		,ifMmId = #{ifMmId}
		,ifMmPassWord = #{ifMmPassWord}
		,ifMmTel = #{ifMmTel}
		,ifMmPhone = #{ifMmPhone}
		,ifMmEmail = #{ifMmEmail}
		,ifMmEmailAddress = #{ifMmEmailAddress}
		,ifMmMarketing = #{ifMmMarketing}
		,ifMmSingupDate = #{ifMmSingupDate}
		,ifMmAddress = #{ifMmAddress}
		,ifMmAddress_homenumber = #{ifMmAddress_homenumber}
		,ifMmAddress_detail = #{ifMmAddress_detail}
		,ifMmNickname = #{ifMmNickname}
		,ifMmDelNy = 0
		,ifMmMangerNy = #{ifMmMangerNy}
		WHERE 1=1
			AND ifMmSeq = #{ifMmSeq}
	</update>
	
	<update id="uelete">
		UPDATE infrMember
		SET
			ifMmDelNy = 1
		WHERE 1=1
			AND ifMmSeq = #{ifMmSeq}
	</update>
	
	<delete id="delete">
		DELETE
		FROM infrMember a
		WHERE 1=1
			AND ifMmSeq = #{ifMmSeq} 
	</delete>
	
	<select id= "checkId" resultType="int">
		SELECT COUNT(*)
		FROM infrMember a
		WHERE 1=1
			AND ifMmId = #{ifMmId}
	</select>
	
	<select id="checkNickname" resultMap="resultMapObj">
	SELECT
		SELECT COUNT(*)
		FROM infrMember a
	WHERE 1=1
		AND ifMmNickname = #{ifMmNickname}
	</select>
	
	<select id="login" resultMap="resultMapObj">
		SELECT
			a.ifMmSeq
			,a.ifMmId
			,a.ifMmPassWord
			,a.ifMmNickname
			,a.ifMmName
			,a.ifMmRank
		FROM infrMember a
		WHERE 1=1
			AND ifMmPassWord = #{ifMmPassWord}
			AND ifMmId = #{ifMmId}
			AND a.ifMmMangerNy = 0
	</select>
	
	<select id="snsLogin" resultMap="resultMapObj">
		SELECT
			a.ifMmSeq
			,a.ifMmId
			,a.ifMmPassWord
			,a.ifMmNickname
			,a.ifMmName
			,a.ifMmRank
		FROM infrMember a
		WHERE 1=1
			AND ifMmId = #{id}
			AND a.ifMmMangerNy = 0
	</select>
	
	<select id="loginM" resultMap="resultMapObj">
	SELECT
		a.ifMmSeq
		,a.ifMmId
		,a.ifMmPassWord
		,a.ifMmNickname
		,a.ifMmName
	FROM infrMember a
	WHERE 1=1
		AND ifMmId = #{ifMmId}
		AND ifMmpassWord = #{ifMmPassWord}
		AND ifMmMangerNy = 1
	</select>
	
	<insert id="kakaoInst">
		INSERT INTO infrMember (
			ifMmName
			,ifMmId
			,ifMmPhone
			,ifMmEmail
			,ifMmDelNy
			,ifMmMangerNy
		)VALUES(
			#{name}
			,#{id}
			,#{phone}
			,#{email}
			,0
			,0
		)
		<selectKey resultType="String" keyProperty="ifMmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
</mapper>	