<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.cgv.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(SELECT ccCodeName FROM CC b WHERE a.ifMmGender = b.ccSeq) as gender
			,(SELECT ccCodeName FROM CC b WHERE a.ifMmTel = b.ccSeq) as tel
			,(SELECT ccCodeName FROM CC b WHERE a.ifMmEmailAddress = b.ccSeq) as email
			,(SELECT ccCodeName FROM CC b WHERE a.ifMmMarketing = b.ccSeq) as marketing
		FROM infrMember a
		Where 1=1
		<if test = "shDelNy != null and !shDelNy.equals('')">AND ccDelNy = #{shDelNy}</if>
			<choose>
				<when test = "shOption eq 1">AND a.ccSeq = #{shValue}</when>
				<when test = "shOption eq 2">AND a.ccCodeName = #{shValue}</when>
				<when test = "shOption eq 3">AND a.codeGroupK = #{shValue}</when>
				<when test = "shOption eq 4">AND a.codeGroup = #{shValue}</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="shOptionDate == 1">AND a.ccDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
				<otherwise></otherwise>
			</choose>	
	</select>
	
	<insert id="insert">
		INSERT INTO infrMember (
			ifMmName
			,ifMmGender
			,ifMmDob
			,ifMmId
			,ifMmPassWord
			,ifMmTel
			,ifMmPhone
			,ifMmEmail
			,ifMmEmailAddress
			,ifMmMarketin
			,ifMmSingupDate
			,ifMmAddress
			,ifMmAddress_homenumber
			,ifMmAddress_detail
			,ifMmNickname
		)VALUES(
			#{ifMmName}
			,#{ifMmGender}
			,#{ifMmDob}
			,#{ifMmId}
			,#{ifMmPassWord}
			,#{ifMmTel}
			,#{ifMmPhone}
			,#{ifMmEmail}
			,#{ifMmEmailAddress}
			,#{ifMmMarketin}
			,#{ifMmSingupDate}
			,#{ifMmAddress}
			,#{ifMmAddress_homenumber}
			,#{ifMmAddress_detail}
			,#{ifMmNickname}
		)
		<selectKey resultType="String" keyProperty="ifMmSeq" order="AFTER">
			SELECT last_id_insert_id()
		</selectKey>
	</insert>
	
</mapper>	