<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Base">
	
	<sql id= "selectListUpperForMysql">
		select a.* from(
	</sql>

	<sql id= "selectListLowerForMysql">
		) a
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</sql>
	
	<sql id= "orderByLimitForMysql">
		limit 9999999999
	</sql>
	
	<sql id="insertRegModColumn">	
		,regIp
		,regSeq
		,regDeviceCd
		,regDateTime
		,regDateTimeSvr
		,modIp
		,modSeq
		,modDeviceCd
		,modDateTime
		,modDateTimeSvr
	</sql>
	
	<sql id="insertRegModValue">	
		,#{regIp}
		,#{regSeq}
		,#{regDeviceCd}
		,#{regDateTime}
		,#{regDateTimeSvr}
		,#{modIp}
		,#{modSeq}
		,#{modDeviceCd}
		,#{modDateTime}
		,#{modDateTimeSvr}
	</sql>
	
	<!-- uploaded s -->
	<insert id="insertUploaded">
		INSERT INTO ${tableName} (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			<include refid="Base.insertRegColumn" />
			,pseq
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			<include refid="Base.insertRegValue" />
			,#{pseq}
		)
	</insert>
	<!-- uploaded e -->	

</mapper>