<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.modules.purchase.PurchaseMapper">

    <resultMap id="resultMapObj" type="com.cgv.modules.purchase.Purchase"></resultMap>
    
	<select id="selectMovie" resultMap="resultMapObj">
		SELECT
			mNameKor
			,mAgeLimit
			,mSeq
		FROM Movie
	</select>
	
	<select id="selectTheater" resultMap="resultMapObj">
		SELECT
			d.thLocation
			,a.mSeq
		FROM Movie a
		INNER JOIN date b ON b.Movie_mSeq = a.mSeq 
		INNER JOIN screen c ON c.scSeq = b.screen_scSeq
		INNER JOIN Theater d ON d.thSeq = c.Theater_thSeq
		WHERE 1=1
			AND mSeq= #{mSeq}
		group by d.thLocation
	</select>
	
	<select id="selectLocation" resultMap="resultMapObj">
		SELECT
			d.thName
			,d.thLocation
			,a.mSeq
		FROM Movie a
		INNER JOIN date b ON b.Movie_mSeq = a.mSeq 
		INNER JOIN screen c ON c.scSeq = b.screen_scSeq
		INNER JOIN Theater d ON d.thSeq = c.Theater_thSeq
		WHERE 1=1
			AND mSeq= #{mSeq}
			AND thLocation = #{thLocation}
		group by d.thName
	</select>
	
	<select id="selectDate" resultMap="resultMapObj">
		SELECT
			d.thName
			,d.thLocation	
			,a.mSeq
            ,b.dDate
            ,c.scTotalSeat
            ,c.scScreenType
            ,c.scNumber
		FROM Movie a
		INNER JOIN date b ON b.Movie_mSeq = a.mSeq 
		INNER JOIN screen c ON c.scSeq = b.screen_scSeq
		INNER JOIN Theater d ON d.thSeq = c.Theater_thSeq
		WHERE 1=1
			AND mSeq= #{mSeq}
			AND thLocation = #{thLocation}
		group by b.dDate;
	</select>
	
	<select id="selectTime" resultMap="resultMapObj">
		SELECT
			d.thName
			,d.thLocation	
			,a.mSeq
            ,b.dDate
            ,b.dTime
            ,c.scTotalSeat
            ,c.scScreenType
            ,c.scNumber
		FROM Movie a
		INNER JOIN date b ON b.Movie_mSeq = a.mSeq 
		INNER JOIN screen c ON c.scSeq = b.screen_scSeq
		INNER JOIN Theater d ON d.thSeq = c.Theater_thSeq
		WHERE 1=1
			AND mSeq= #{mSeq}
			AND thLocation = #{thLocation}
			AND thName = #{thName}
			AND DATE_FORMAT(b.dDate, '%Y-%m-%d') = #{dDate}
	</select>
	
	<select id="selectScreen" resultMap="resultMapObj">
		SELECT
			d.thName
			,d.thLocation	
			,a.mSeq
            ,b.dDate
            ,b.dTime
            ,c.scTotalSeat
            ,c.scScreenType
            ,c.scNumber
		FROM Movie a
		INNER JOIN date b ON b.Movie_mSeq = a.mSeq 
		INNER JOIN screen c ON c.scSeq = b.screen_scSeq
		INNER JOIN Theater d ON d.thSeq = c.Theater_thSeq
		WHERE 1=1
			AND mSeq= #{mSeq}
			AND thLocation = #{thLocation}
			AND thName = #{thName}
			AND DATE_FORMAT(b.dDate, '%Y-%m-%d') = #{dDate}
			AND scNumber = #{scNumber}
            group by scNumber
	</select>
	
	<select id="selectSeat" resultMap="resultMapObj">
		SELECT
			d.thName
			,d.thLocation	
			,a.mSeq
            ,b.dDate
            ,b.dTime
            ,c.scTotalSeat
            ,c.scScreenType
            ,c.scNumber
            ,c.scRow
            ,c.scCol
		FROM Movie a
		INNER JOIN date b ON b.Movie_mSeq = a.mSeq 
		INNER JOIN screen c ON c.scSeq = b.screen_scSeq
		INNER JOIN Theater d ON d.thSeq = c.Theater_thSeq
		WHERE 1=1
			AND mSeq= #{mSeq}
			AND thLocation = #{thLocation}
			AND thName like #{thName}
			AND DATE_FORMAT(b.dDate, '%Y-%m-%d') = #{dDate}
            AND b.dTime = #{dTime}
            AND c.scNumber = #{scNumber}
	</select>
	
	
	
	
	
</mapper>	