<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href="/demo/pay/assets/css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/demo/pay/assets/css/payment.css">
	<script src="/demo/pay/assets/js/jquery-3.4.1.min.js"></script>
</head>
<body>
	<div id="payment">
		<div class="header">
			<strong>
				<kakaopay></kakaopay>
			</strong>
		</div>
		<div class="body">
			<div class="content">
				<p>카카오페이 결제가 정상적으로 완료되었습니다.</p>
				<p>결제일시: 2022-10-26T13:52:58</p>
				<p>상품명: 커피</p>
				<p>결제금액: 5500원</p>
			</div>
			<div class="alert alert-warning">해당 페이지는 카카오페이에서 제공하는 페이지가 아닙니다.</div>
		</div>
	</div>
</body>
</html>