<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.modules.movie.MovieMapper">

    <resultMap id="resultMapObj" type="com.cgv.modules.movie.Movie"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
		FROM Movie a
		Where 1=1
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.mSeq
			,a.mNameKor
			,a.mNameEn
			,a.mAgeLimit
			,a.mRunningTime
			,a.mCountry
			,a.mOpenDate
			,a.mExplantion
			,a.mRate
			,a.src
			,a.mGoldEgg
		FROM Movie a
		WHERE 1=1
			AND mSeq = #{mSeq}
	</select>
	
	<select id="selectMovie" resultMap="resultMapObj">
		SELECT
			a.mSeq
			,a.mNameKor
			,a.mNameEn
			,a.mAgeLimit
			,a.mRunningTime
			,a.mCountry
			,a.mOpenDate
			,a.mExplantion
			,a.mRate
			,a.src
			,a.mGoldEgg
            ,c.sfName
            ,c.sfDiv
            ,c.sfSrc
    		,c.sfSeq
		FROM Movie a
		LEFT JOIN searchStaff b ON b.Movie_mSeq = a.mSeq 
		LEFT JOIN staff c ON c.sfSeq = b.staff_sfSeq
		WHERE 1=1
			AND mSeq = ${mSeq}
	</select>
	
	<select id="selectGenre" resultMap="resultMapObj">
		SELECT
			a.mSeq
			,b.gnDiv
		FROM Movie a
		INNER JOIN genre b ON b.Movie_mSeq = a.mSeq
		WHERE 1=1
			AND mSeq = ${mSeq}
	</select>
	
</mapper>	