<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.modules.codegroup.CodeGroupMapper">

<resultMap id="resultMapObj" type="com.cgv.modules.codegroup.CodeGroup"></resultMap>

	<sql id = "selectCommon">
		FROM CCG a
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND ccgDelNy = #{shDelNy}</if>
			<choose>																					
				<when test="shOption == 1">AND a.ccgSeq = #{shValue}</when> 
				<when test="shOption == 2">AND a.codeGroupK LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND a.codeGroup LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="shOptionDate == 1">AND a.ccgDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
				<otherwise></otherwise>
			</choose>
	</sql>
	
	<select id="select" resultMap="resultMapObj">
		SELECT
			a.*
		<include refid="selectCommon" />	
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			a.ccgSeq
			,a.codeGroup
			,a.codeGroupK
			,a.reference
			,(SELECT COUNT(b.ccgSeq) FROM CC b where 1=1 AND b.ccgSeq = a.ccgSeq) as cnt
			,a.ccgUseNy
			,a.ccgOrder
			,a.ccgDate
		<include refid="selectCommon" />
		ORDER BY a.ccgSeq ASC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<insert id="insert">
		INSERT INTO CCG (
			codeGroup
			,codeGroupK
			,ccgDelNy
			,ccgUseNy
			,ccgOrder
			,reference
		)Values (
			#{codeGroup}
			,#{codeGroupK}
			,0		
			,#{ccgUseNy}
			,#{ccgOrder}
			,#{reference}	
		)
		<selectKey resultType="String" keyProperty="ccgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM CCG a
		WHERE 1=1
			AND a.ccgSeq = #{ccgSeq}		
	</select>
	
	<update id="update">
		UPDATE CCG  
		SET 
		codeGroup = #{codeGroup}
		,codeGroupK = #{codeGroupK}
		,ccgDelNy = #{ccgDelNy}
		,ccgUseNy = #{ccgUseNy}
		,ccgOrder = #{ccgOrder}
		,reference = #{reference}
		WHERE 1=1
			AND ccgSeq = #{ccgSeq}
	</update>
	
	<update id="uelete">
		UPDATE CCG
		SET
			ccgDelNy = 1
		WHERE 1=1
			AND ccgSeq = #{ccgSeq}
	</update>
	
	<delete id="delete">
		DELETE 
		FROM CCG a
		WHERE 1=1
			AND ccgSeq = #{ccgSeq}
	</delete>
	
	<!-- paging -->
	
	
	
	
</mapper>	