<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.cgv.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(SELECT COUNT(*) FROM CC b where b.ccgSeq = a.ccgSeq) as cnt
		FROM CCG a
		Where 1=1
			and a.ccgUseNy= 1
			<!-- and a.codeGroupK LIKE CONCAT('%',#{shValue},'%') -->
			<if test="shDelNy != null and !shDelNy.equals('')">AND ccgDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND a.ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND a.codeGroupK LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND a.codeGroup LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="shOptionDate == 1">AND a.ccgDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
				<otherwise></otherwise>
			</choose>
			
		
	</select>

</mapper>	