<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.cgv.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(SELECT COUNT(*) FROM CC b where b.ccgSeq = a.ccgSeq) as cnt
		FROM CCG a
	</select>

</mapper>	