<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cgv.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.cgv.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(SELECT codeGroup FROM CCG b where a.ccgSeq = b.ccgSeq) as code
            ,(SELECT codeGroupK FROM CCG b where a.ccgSeq = b.ccgSeq) as codeK
		FROM CC a
		Where 1=1
			and a.ccUseNy= 1
			<if test = "shDelNy != null and !shDelNy.equals('')">AND ccDelNy = #{shDelNy}</if>
			<choose>
				<when test = "shOption eq 1">AND a.ccSeq = #{shValue}</when>
				<when test = "shOption eq 2">AND a.ccCodeName = #{shValue}</when>
				<when test = "shOption eq 3">AND a.codeGroupK = #{shValue}</when>
				<when test = "shOption eq 4">AND a.codeGroup = #{shValue}</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="shOptionDate == 1">AND a.ccDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
				<otherwise></otherwise>
			</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO CC (
			ccgSeq
			,ccCodeName
			,ccUseNy
			,ccDelNy
			,ORDER
		)VALUES(
			#{ccgSeq}
			,#{ccCodeName}
			,#{ccUseNy}
			,0
			,#{ORDER}
		)
			<selectKey resultType="String" keyProperty="ccSeq" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
	</insert>

</mapper>	